*{
    margin: 0;
    padding: 0;
    outline: 0;
}
body{
    background-color: #100929;
}
.navbar{
    background-color: #100929;
}
.nav-link, .active{
    color: #ffffff !important;
}
/* .nav-link, .active:hover{
    color: #5E4DF9 !important;
} */
#banner{
    margin: 4rem;
    height: 50vh;
}
.achievements{
    padding: 1.7rem 0;
    background-color: #211548;
    border-radius: 20px;
}