@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 3.5rem;
}

body{
    background-color: #100929;
}

.navbar{
    background-color: #100929;
}
.nav-link, .active{
    color: #ffffff !important;
}

#banner{
    margin: 4rem;
    height: 50vh;
}

.achievements, .success-bg{
    padding: 1.7rem 1rem;
    background-color: #211548;
    border-radius: 20px;
}

#best-app, #web-dev, #job{
    margin: 4rem;
    color: white;
}
#best-app h1 span, #web-dev h1 span{
    color: #F8AD2E;
}
.media{
    margin-top: 3rem;
}
.best-app{
    padding: 2rem 1rem 0;
    background-color: #211548;
    border-radius: 20px;
}
.text-left{
    text-align: left;
}
.red-bg{
    margin-top: 2rem;
    background-color: #FF3F6B;
}
#web-dev button{
    margin-top: 1rem;
}
.info{
    border-radius: 10px;
    background-color: #ffffff;
    color: #000000;
    padding: 4px 3px;
}
.support{
    margin: 2rem 0;
    padding: 2.5rem;
}
.support-img{
    width: 60%;
    text-align: center;
    display: inline-block;
}
.mar{
    margin-top: 1rem;
}
.blue{
    background-color: #5E59FB;
}
.yellow{
    background-color: #FEC43F;
}
#successfull h1, #job h1{
    color: #ffffff;
    text-align: center;
}
.success-bg{
    color: #ffffff;
    margin: 2rem 0;
}
.productive{
    margin-top: 1.7rem;
}
.oportunity{
    margin: 1.5rem 0;
    width: 75%;
}
footer{
    margin-top: 4rem;
    padding-top: 3rem;
    color: #ffffff;
    border-top: 1px solid #302e65;
}
.footer-icon a{
    text-decoration: none;
    color: #ffffff;
    font-size: 1.5rem;
    margin-right: 1rem;
}
.last-foot{
    margin-top: 1.5rem;
}